@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    border: none;
    padding: 0;
}

body{
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#cover-text, #cover-text h2{
color: white;
}

#cover-text{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 130%;
    font-family: Oswald, sans-serif;

    height: 200px;
    width: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(235, 65, 65, 0.692);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu, #logo{
    line-height: 75px;
}

#menu{
    letter-spacing: 4px;
    font-size: 110%;
}

#menu li{
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

#push-right{
    float: right;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}
/*hero image and animation*/
#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center; 
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



@keyframes hero-zoom {
    from{
        transform:scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* club ethos */

hr{
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    
}

#right-about{
    padding-top: 30px;
    width: 30%;
    float: right;
    
}

#center-about{
    margin: 0 auto;
    width: 33%;
    
}

.left-about-heading{
    width: 60%;
    line-height: 20px;
    float: right;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading{
    width: 60%;
    line-height: 20px;
    float: left;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}



#circle-container{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    margin: 0 auto;
}

#circle-cover-bg{
    background: url("../images/ethos-center-image.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    }

    /*event-times*/

    #times{
        background-image: url("../images/dublin-city.webp");
        background-position: center;
        overflow: hidden;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #times div{
        float: left;
        width: 20%;
        height: 300px;
        color: #fafafa;
        background-color: rgba(0, 0, 0, .6);
        padding: 10px 0 0 30px;
        border: white 2px solid;
        box-sizing: border-box;
        text-align: center;
    }

#times h2{
    color: #fafafa;
}
/* footer */

footer{
    height: 150px;
}

footer ul{
    text-align: center;
}

footer ul li{
    display: inline;

}

footer ul li i{
    margin: 1%;
    padding: 5%;
    font-size: 180%;
    color: #3a3a3a;
}

                                    /* The gallery*/

#photos{
    column-count: 4;
    column-gap: 0;
    line-height: 0;
    clear:both;
}

#photos > img{
    width: 100%;
}

                                    /* tablet size screen */
@media screen and (max-width: 1200px){
   
   #club-ethos{
    width: 65%;
    height: 1200px;
    margin: 0 auto;
   }

   #welcome{
       padding: 30px 0;
       margin: 0;

   }

   #left-about, #right-about{
       width: 100%;
       float: left;
       padding: ;
   }

   #center-about{
       clear: both;
       width: 100%;
       float: left;
       padding: 0;
   }

   hr{
       display: none;
   }

   #times > div{
       width: 100%;
       clear: both;
       padding: 0px;
       height: 150px;
   }

}


                            /* phone size screen */

@media screen and (max-width: 950px){
    #menu{
        float: left;
        clear: both;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }
    #cover-text{
       left: 0;
    }
    #club-ethos{
        margin: 0 auto;
        width: 90%;
        height: 1200px;
    }
    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    #photos{
        column-count: 3;
    }
}     

@media screen and (max-width:800px){
    #photos{
        column-count: 2;
    }
}